@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root 
{
    --color-texto-900: #000F0E;
    --color-texto-100: #C3C3C3;
    --color-texto-50: #F0F6F5;

    --color-bg-slide-900: #000F0E;
    --color-bg-slide-800: #012220;
    --color-bg-slide-100: #c7d6cd;
    --color-bg-slide-50: #e4e0e0;

    --color-bg-900: #050606;
    --color-bg-800  : #101215;
    --color-bg-100  : #adcdcf;
    --color-bg-50  : #e0fdff;

    --gradient-bg-slide-light: linear-gradient(135deg, var(--color-bg-slide-50), var(--color-bg-slide-100));
    --gradient-bg-slide-dark: linear-gradient(135deg, var(--color-bg-slide-900), var(--color-bg-slide-800));
    --gradient-bg-light: linear-gradient(to bottom right, var(--color-bg-50 ), 45%, var(--color-bg-100));
    --gradient-bg-dark: linear-gradient(135deg, var(--color-bg-900), var(--color-bg-800));
}



* 
{
    font-family: "Rubik", sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    height: fit-content;
    background-color: #c9e7e9;
}

#main_container
{
    width: 100%;
    height: fit-content;
    background-color: #c9e7e9 ;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: background-color 0.3s ease-in-out;
}

#left_cadastro, #cadastro_right
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0px;
}


#left_cadastro h1 
{
    text-align: center;
    font-size: 55px;
    color: #0A8CBF;
}

#img_water_drop 
{
    width: 100vw;
    height: 62vh;
}



#cadastro_form 
{
    width: 300px;
    height: 700px;
    background-color: var(--color-bg-slide-50);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px 60px;
    border-radius: 10px;
    gap: 30px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.366);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#header 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header h1 
{
    font-weight: bold;
    font-size: 40px;
    color: #0A8CBF;
}

#modo 
{
    cursor: pointer;
    font-size: 20px;
}


#div_input
{
    gap: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.input-box 
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#div_input span
{ 
    font-size: 20px;
    color: #000F0E;
    transition: color 0.3s ease-in-out;
}

#div_input input 
{
    border-radius: 5px;
    border-style: hidden;
    width: 100%;
    height: 30px;
    font-size: 18px;
    color: #000F0E;
    padding: 0px 5px;
    background-color: #BECFCA;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out
}

#btn_cadastro
{
    width: 60%;
    height: 50px;
    color: #c7d6cd;
    background-color: #0A8CBF;
    border-radius: 10px;
    border-style: hidden;
    margin: 0px 70px; 
    font-size: 22px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

#btn_cadastro:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.mensagemErro
{
    color: red;
}

.dark #div_input input 
{
    color: white;
    background-color: var(--color-bg-800);
    
}

.dark #btn_cadastro 
{
    color: var(--color-texto-900);
}

.dark#main_container
{
    background-color: var(--color-bg-800);
}

.dark #cadastro_form 
{
    color: var(--color-texto-50);
    background-color: var(--color-bg-slide-800);
}

.dark #div_input span
{
    color: var(--color-texto-50);
}

#slt_uf {
    width: 100%;
    height: 5%;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: #BECFCA;
    color: #000F0E;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="%23000F0E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}



#slt_uf:focus {
    outline: none;
    border-color: #0A8CBF;
    background-color: var(--color-bg-50);
}


.dark #slt_uf {
    background-color: var(--color-bg-800);
    color: var(--color-texto-50);
    border-color: transparent;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="%23F0F6F5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"/></svg>');
}

.dark #slt_uf:focus {
    background-color: var(--color-bg-slide-900);
}


/* animacoes */


@keyframes light-to-dark-bg-slide 
{
    0%
    {   
        background: #c7d6cd;
    }
    100%
    {
        background: #000F0E;
    }

}

@keyframes dark-to-light-bg-slide 
{
    0%
    {
        background: #000F0E;
    }
    100% 
    {
        background: #c7d6cd;
    }
}

@keyframes light-to-dark-bg
{
    0%
    {   
        background: #adcdcf;
    }
    100%
    {
        background: #050606;
    }

}

@keyframes dark-to-light-bg
{
    0%
    {
        background: #050606;
    }
    100% 
    {
        background: #adcdcf;
    }
}

@keyframes light-to-dark-texto
{
    0%
    {
        color: #050606;
    }
    100% 
    {
        color: #F0F6F5;
    }
}

@keyframes dark-to-light-texto
{
    0%
    {   
        color: #F0F6F5;
    }
    100%
    {
        color: #000F0E;
    }

   
}

@keyframes light-to-dark-botao
{
    0%
    {   
        color: #c7d6cd;
    }
    100%
    {
        color: #000F0E;
    }
}

@keyframes dark-to-light-botao
{
    0%
    {
        color: #000F0E;
    }
    100% 
    {
        color: #c7d6cd;
    }
}

@keyframes light-to-dark-input
{
    0%
    {   
        background-color: #BECFCA;
    }
    100%
    {
        background-color: #012320;
    }
}

@keyframes dark-to-light-input
{
    0%
    {
        background-color: #012320;
    }
    100% 
    {
        background-color: #BECFCA;
    }
}
